body {
	text-align: center;
	background-image: url("https://cdn2.unrealengine.com/Fortnite%2FBattle-pass%2Fseason3%2FbpHeaderV5-2560x976-8973169cf8e25779cd61412d58590b12338f4e81.jpg");
}

h1 {
	color:black;
}